<!DOCTYPE html>
<html lang="en" ng-app="myRoster">

<head>
    <meta charset="UTF-8">
    <title>NFL Roster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href="styles/bootstrap.min.css" rel="stylesheet">-->
    <link href="styles/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body ng-controller="RosterController">
    <div id="wrapper">

        <!--Start of Navbar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">NFL Roster</a>
                </div>
                <ul class="nav navbar-nav">

                    <li><a href="#menu-toggle" class="btn btn-default " id="menu-toggle">Toggle Menu</a></li>
                    <li><a href="#myTeam" class="btn btn-default "> Go To My Roster</a></li>
                    <li><a href="#nfl" class="btn btn-default ">Go To NFL Roster</a></li>

                    <!--Start of Teams Dropdown populated-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
                        <div class="dropdown-menu multi-column">

                            <div class="AFC">
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> AFC East</div>
                                    <li ng-repeat="teams in AFCEast"> <a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> AFC North</div>
                                    <li ng-repeat="teams in AFCNorth"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> AFC South</div>
                                    <li ng-repeat="teams in AFCSouth"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> AFC West</div>
                                    <li ng-repeat="teams in AFCWest"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</span></li>
                                </ul>
                            </div>

                            <div class="NFC">
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> NFC East</div>
                                    <li ng-repeat="teams in NFCEast"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> NFC North</div>
                                    <li ng-repeat="teams in NFCNorth"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> NFC South</div>
                                    <li ng-repeat="teams in NFCSouth"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                                <ul class="dropdown-menu">
                                    <div class="conference-title"> NFC West</div>
                                    <li ng-repeat="teams in NFCWest"><a href="#" ng-click="NFLFilter.pro_team = teams.short">{{teams.long}}</a></li>
                                </ul>
                            </div>

                        </div>
                    </li>
                    <!--End of Teams Dropdown populated-->
                    <!--Start of position dropdown populated-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Positions: <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="positions in NFLPositions"><a href="#" ng-click="NFLFilter.position = positions">{{positions}}</a></li>
                        </ul>
                    </li>
                    <!--End of position dropdown populated-->
                    <li id="playerLimit">
                        Limit NFL Players Shown To:
                        <input type="number" step="1" ng-model="playerLimit">
                    </li>
                </ul>
            </div>
        </nav>
        <!--End of Navbar-->

        <!--Start of Adding Players to My Roster and Searching-->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            Add Player
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <form ng-submit="addPlayers()" class="form-inline">
                            <div class="form-group">
                                <label for="PlayerName">Player Name:
                                    <input type="text" class="form-control" placeholder="Player Name" id="PlayerName" ng-model="newplayer.fullname">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="PlayerJersey">Player Jersey:
                                    <input type="text" class="form-control" placeholder="Player Jersey" id="PlayerJersey" ng-model="newplayer.jersey">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="PlayerPosition">Player Position:
                                    <input type="text" class="form-control" placeholder="Player Position" id="PlayerPosition" ng-model="newplayer.position">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="PlayerPro_Team">Player Pro_Team:
                                    <input type="text" class="form-control" placeholder="Players Pro_Team" id="PlayerPro_Team" ng-model="newplayer.pro_team">
                                </label>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="submit" id="addPlayer" value="Add To Roster">
                            </div>
                        </form>
                        <br>
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Search My Roster:
                                    <input ng-model="Name" placeholder="Search Roster">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Search NFL Roster:
                                    <input ng-model="search" placeholder="Search NFL">
                                </label>
                            </div>
                            <button class="btn btn-primary" ng-click="loadPlayers()" ng-show="!showSpinner">Load Players</button>
                            <button class="btn btn-primary" ng-show="showSpinner"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading Players...</button>
                            <button class="btn btn-primary" ng-click="setPlayers()">Set Players</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Adding Players to My Roster and Searching-->

        <!--Start of Container-->
        <div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Start of My Player Roster-->
            <div class="row">
                <div class="panel panel-primary roster col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-transparent ">
                    <span class="white text-right">   Filters = {{myFilter}} <a href="#" ng-click="myFilter.pro_team = ''">Clear Team</a> <a href="#" ng-click="myFilter.position = ''">Clear Position</a></span>
                    <div class=" panel-heading text-center roster-body">
                        <a name="myTeam"></a>
                        My Roster
                    </div>
                    <div ng-repeat="player in roster | filter:myFilter ">
                        <div class="player-transparent panel-default col-xs-4 col-sm-4 col-md-3 col-lg-3 text-center">
                            <div class="panel-heading player-card text-center">
                                <button type="submit" ng-click="removeFromRoster(player)" class="btn btn-danger"><i class="fa fa-trash"></i> FIRE</button>
                                <div class="panel-body">
                                    <img ng-src="{{player.photo}}" alt="NFL
                                Player Card" class="img-responsive center-block">
                                    <br>Player Name:
                                    <br>{{player.fullname}}
                                    <br>Pos: <a href="#" ng-click="myFilter.position = player.position"> {{player.position}}</a>,
                                    # {{player.jersey}}, Team: <a href="#" ng-click="myFilter.pro_team = player.pro_team">{{player.pro_team}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of my Player Roster-->

            <!--Start of NFL Roster of Players-->
            <div class="row">
                <div class="panel panel-primary roster  col-xs-12  col-sm-12  col-md-12  col-lg-12 panel-transparent ">
                    <span class="white">   Filters = {{NFLFilter}} <a href="#" ng-click="NFLFilter.pro_team = ''">Clear Team</a> <a href="#" ng-click="NFLFilter.position = ''">Clear Position</a></span>
                    <div class=" panel-heading text-center roster-body">
                        <a name="nfl"></a>
                        NFL Players
                    </div>
                    <div id="sortTeam" ng-repeat="player in players | filter:NFLFilter | filter:search | limitTo:playerLimit | orderBy:fullname">
                        <div class="player-transparent panel-default col-xs-4 col-sm-4 col-md-3 col-lg-3 text-center">
                            <div class="panel-heading nfl-card  text-center">
                                <button type="sumbit" ng-click="addToRoster(player)" class="btn btn-success"><i class="fa fa-plus-square"></i> DRAFT</button>
                                <div class="panel-body {{player.pro_team}}">
                                    <!--<img ng-src="{{player.photo}}" alt="NFL
                                Player Card" class="img-responsive center-block">-->
                                    <br>Player Name:
                                    <br>{{player.fullname}}
                                    <br>Pos: <a href="#" ng-click="NFLFilter.position = player.position"> {{player.position}}</a>,
                                    # {{player.jersey}}, Team: <a href="#" ng-click="NFLFilter.pro_team = player.pro_team">{{player.pro_team}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of NFL Roster of Players-->

        </div>
        <!--End of the Container-->
    </div>
    <!--End of ID Wrapper-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js "></script>
    <!--<script src="node_modules/agile/dist/agile.js"></script>-->
    <script src="app/app.js "></script>
    <script src="app/controller/controller.js"></script>
    <script src="app/services/data.services.js"></script>

</body>

</html>